:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1448 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1448 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1448 0 0);
    --primary: oklch(0.5471 0.1439 247.0129);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6773 0.1550 47.7477);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9551 0 0);
    --muted-foreground: oklch(0.4386 0 0);
    --accent: oklch(0.9702 0 0);
    --accent-foreground: oklch(0.5471 0.1439 247.0129);
    --destructive: oklch(0.5771 0.2152 27.3250);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9219 0 0);
    --input: oklch(0.9219 0 0);
    --ring: oklch(0.5471 0.1439 247.0129);
    --chart-1: oklch(0.5471 0.1439 247.0129);
    --chart-2: oklch(0.6773 0.1550 47.7477);
    --chart-3: oklch(0.7227 0.1920 149.5793);
    --chart-4: oklch(0.7686 0.1647 70.0804);
    --chart-5: oklch(0.5854 0.2041 277.1173);
    --sidebar: oklch(0.9816 0.0017 247.8390);
    --sidebar-foreground: oklch(0.2178 0 0);
    --sidebar-primary: oklch(0.5471 0.1439 247.0129);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9417 0.0052 247.8790);
    --sidebar-accent-foreground: oklch(0.5471 0.1439 247.0129);
    --sidebar-border: oklch(0.9288 0.0126 255.5078);
    --sidebar-ring: oklch(0.5471 0.1439 247.0129);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: -0.01em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1635 0.0136 264.0905);
    --foreground: oklch(0.9842 0.0034 247.8575);
    --card: oklch(0.2130 0.0170 264.1168);
    --card-foreground: oklch(0.9842 0.0034 247.8575);
    --popover: oklch(0.2130 0.0170 264.1168);
    --popover-foreground: oklch(0.9842 0.0034 247.8575);
    --primary: oklch(0.6163 0.1623 247.0511);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7299 0.1360 49.8760);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.2795 0.0368 260.0310);
    --muted-foreground: oklch(0.7107 0.0351 256.7878);
    --accent: oklch(0.2795 0.0368 260.0310);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3351 0.0331 260.9120);
    --input: oklch(0.3351 0.0331 260.9120);
    --ring: oklch(0.6163 0.1623 247.0511);
    --chart-1: oklch(0.6163 0.1623 247.0511);
    --chart-2: oklch(0.7299 0.1360 49.8760);
    --chart-3: oklch(0.8003 0.1821 151.7110);
    --chart-4: oklch(0.8369 0.1644 84.4286);
    --chart-5: oklch(0.6801 0.1583 276.9349);
    --sidebar: oklch(0.2077 0.0398 265.7549);
    --sidebar-foreground: oklch(0.9683 0.0069 247.8956);
    --sidebar-primary: oklch(0.6163 0.1623 247.0511);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.2795 0.0368 260.0310);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.3717 0.0392 257.2870);
    --sidebar-ring: oklch(0.6163 0.1623 247.0511);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 12px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.20);
    --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.20);
    --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
    --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
    --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
    --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 1.00);
}